body {
  font-family: "Inter Variable", sans-serif;
}

div#Logo {
  font-family: "Onest Variable", sans-serif;
}

.tooltip {
  @apply absolute opacity-0 transition-opacity duration-300 ease-in-out;
}

.has-tooltip:hover .tooltip {
  @apply z-50 opacity-100;
}

/*

.tooltip {
  @apply opacity-0 transition-opacity duration-300 ease-in-out;
}

.tooltip.visible {
  @apply opacity-100 z-50;
}

*/