html,
body {
/*  background-color: #1a202c;*/
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100vw;
}

div#root {
/*  background-color: #1a202c;*/
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #718096;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #1a202c;
}

*::-webkit-scrollbar-thumb {
  background-color: #718096;
  border-radius: 15px;
}
