---
import * as Icons from "@lucide/astro";
import { getCollection } from "astro:content";

const skills = await getCollection("skills", ({ data }) => !data.hidden);

const getSizeClasses = (count: number) => {
  if (count >= 10) return "md:col-span-2 md:row-span-2 p-5";
  if (count >= 7) return "md:row-span-2 p-5";
  if (count >= 4) return "md:col-span-2 p-5";
  return "p-4";
};
---

<section id="about" class="px-6 py-24">
  <div class="mx-auto max-w-5xl">
    <p class="text-primary mb-4 text-xs tracking-[0.2em] uppercase">Sobre mí</p>

    <p class="text-muted-foreground mb-10 max-w-2xl text-base leading-relaxed">
      Profesional con experiencia en diseño, desarrollo y despliegue de sistemas
      IoT. Apasionado por la tecnología y comprometido con el desarrollo de
      soluciones disruptivas que transforman la interacción con el mundo
      conectado.
    </p>

    <div
      class="grid grid-flow-dense auto-rows-fr grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-4"
    >
      {
        skills.map((skill) => {
          const Icon =
            skill.data.icon && Icons[skill.data.icon]
              ? Icons[skill.data.icon]
              : Icons.HelpCircle;

          return (
            <div
              class={`hover:border-primary/20 flex flex-col gap-2 rounded-xl border border-white/6 bg-white/3 backdrop-blur-md transition-all duration-300 hover:bg-white/6 ${getSizeClasses(skill.data.keywords.length)} `}
            >
              <h3 class="text-foreground text-md flex items-center gap-2 leading-tight font-medium">
                <div class="bg-primary/10 text-primary w-fit rounded-md p-2">
                  <Icon size={16} stroke-width={1.75} />
                </div>
                <span>{skill.data.name}</span>
              </h3>

              <ul class="flex flex-wrap gap-2">
                {skill.data.keywords.map((k) => (
                  <li class="rounded-md border border-white/6 bg-white/4 px-2 text-xs text-white/70">
                    {k}
                  </li>
                ))}
              </ul>
            </div>
          );
        })
      }
    </div>
  </div>
</section>
