---
import ComponentSkills from "../components/Skills.astro";
import Base from "../layouts/Base.astro";

const title = import.meta.env.APP_NAME;
---

<Base title={title}>
  <h2 class="py-6 pb-6 text-2xl font-bold text-slate-800 dark:text-white">
    Skills
  </h2>
  <ComponentSkills />
</Base>
