---
import AboutSection from "@/components/About.astro";
import ContactSection from "@/components/Contact.astro";
import ExperienceSection from "@/components/Experience.astro";
import FooterSection from "@/components/Footer.astro";
import HeroSection from "@/components/Hero.astro";
import { ProjectsSection } from "@/components/sections/Projects";
---

<div>
  {/* Background gradient */}
  <div
    class="fixed inset-0 bg-linear-to-br from-[oklch(0.06_0.04_250)] via-[oklch(0.09_0.05_260)] to-[oklch(0.14_0.06_240)] -z-20 pointer-events-none"
  >
  </div>
  <div
    class="fixed inset-0bg-[radial-gradient(ellipse_at_top_right,oklch(0.20_0.08_250/0.3),transparent_60%)] -z-20 pointer-events-none"
  >
  </div>
  <div
    class="fixed inset-0 bg-[radial-gradient(ellipse_at_bottom_left,oklch(0.15_0.06_270/0.2),transparent_50%)]] -z-20 pointer-events-none"
  >
  </div>
  <main class="relative z-0">
    <HeroSection />
    <AboutSection />
    <ExperienceSection />
    <ProjectsSection />
    <ContactSection />
    <FooterSection />
  </main>
</div>
