---
import AboutSection from "@/components/sections/About.astro";
import ContactSection from "@/components/sections/Contact.astro";
import ExperienceSection from "@/components/sections/Experience.astro";
import FooterSection from "@/components/sections/Footer.astro";
import HeroSection from "@/components/sections/Hero.astro";
import ProjectsSection from "@/components/sections/Projects.astro";
import LearningSection from "./sections/Learning.astro";
---

<div>
  {/* Background gradient */}
  <div
    class="pointer-events-none fixed inset-0 -z-20 bg-linear-to-br from-[oklch(0.06_0.04_250)] via-[oklch(0.09_0.05_260)] to-[oklch(0.14_0.06_240)]"
  >
  </div>
  <div
    class="inset-0bg-[radial-gradient(ellipse_at_top_right,oklch(0.20_0.08_250/0.3),transparent_60%)] pointer-events-none fixed -z-20"
  >
  </div>
  <div
    class="bg-[radial-gradient(ellipse_at_bottom_left,oklch(0.15_0.06_270/0.2),transparent_50%)]] pointer-events-none fixed inset-0 -z-20"
  >
  </div>
  <main class="relative z-0">
    <HeroSection />
    <AboutSection />
    <ExperienceSection />
    <ProjectsSection />
    <LearningSection />
    <ContactSection />
    <FooterSection />
  </main>
</div>
