---
import NavLink from "./NavLink.astro";
---

<nav
  id="menu"
  class="hidden lg:flex align-middle w-full lg:w-auto font-normal transition-display ease-in-out delay-150 mt-6 lg:mt-0"
>
  <NavLink href="/">Home</NavLink>
  <NavLink href="/skills">Skills</NavLink>
  <NavLink href="/projects">Proyectos</NavLink>
</nav>

<script>
  document.addEventListener("astro:page-load", () => {
    const menuToggle = document.getElementById("menu-toggle");
    const menu = document.getElementById("menu");

    menuToggle.addEventListener("click", () => {
      console.log("Toggle");
      menu.classList.toggle("hidden");
    });
  });
</script>
