---
const { href, aria } = Astro.props;
---

<a
  href={href}
  target="_blank"
  class="inline-block transition duration-300 transform hover:scale-125 hover:text-slate-500"
  aria-hidden="true"
  ><div class="min-w-[48px] min-h-[48px]"> 
    <slot />
  </div>
</a>
