---
import MainContent from "@/components/Content.astro";
import Navbar from "@/components/navbar/Navbar.astro";
import SEOComponent from "@/components/SEOComponent.astro";
import "@/styles/global.css";

const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEOComponent />
  </head>
  <body class="font-sans antialiased">
    <div id="app" class="relative w-full">
      <Navbar />
      <MainContent />
      <slot />
    </div>
  </body>
</html>
