---
import "@fontsource-variable/inter";
import "@fontsource-variable/onest";
import { ViewTransitions } from "astro:transitions";
import "../styles/global.css";

import { Icon } from "astro-icon/components";
import Nav from "../components/Nav.astro";

import ThemeButton from "../components/ThemeButton.astro";

const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="title" content="Charlie Melchiori ~ Portafolio" />
    <meta
      name="description"
      content="Bienvenido a mi portafolio, aquí encontraras diferentes proyectos y mi experiencia tanto en la electrónica como la informática."
    />
    <meta
      name="keywords"
      content="web developer, developer, electronic, engineer electronic, engineer, chile"
    />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="Spanish" />
    <meta name="revisit-after" content="15 days" />
    <meta name="author" content="Charlie Melchiori" />
    <ViewTransitions />
  </head>
  <body
    class="mx-auto bg-slate-200 dark:bg-slate-900 dark:text-white min-h-screen"
  >
    <div class="lg:flex lg:flex-col lg:min-h-[inherit]">
      <div id="container" class="flex lg:w-[950px] mx-auto">
        <header
          class="lg:flex justify-between items-center p-4 dark:text-white w-[950px] mx-auto align-middle mt-3 lg:mt-3 text-gray-800"
        >
          <div class="flex">
            <div
              class="lg:hidden block focus:outline-none m-auto align-middle min-w-min min-h-min ml-4"
            >
              <button aria-label="Toggle Theme" id="menu-toggle" class="flex-initial mt-1">
                <Icon name="bar" width={30} height={30} />
              </button>
            </div>

            <ThemeButton transition:persist>
              <div
                id="Logo"
                class="p-2 text-2xl font-bold text-white bg-slate-500 hover:bg-slate-950 dark:bg-slate-950 rounded-md
            transition ease-in-out delay-100 hover:scale-110 dark:hover:bg-slate-500 duration-150"
              >
                {"<Charlie Melchiori />"}
              </div>
            </ThemeButton>
          </div>

          <Nav transition:persist />
        </header>
      </div>

      <div class="lg:w-[950px] m-auto p-8 lg:p-4 grow">
        <slot />
      </div>

      <footer class="w-full text-center bg-slate-700 p-3 text-white font-semibold relative bottom-0">
        Made with ❤️ by {"<Charlie Melchiori />"}
      </footer>
    </div>
  </body>
</html>
